{% extends "base.html" %}

    {% block content %}
    {% for article in articles %}
    {% if loop.index%2 == 1 %}
    <div class="row align-items-center my-5">
      <div class="col-lg-4">
          <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ SITEURL }}/{{ article.image }}" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-8">
          <h2 class="font-weight-light">{{ article.title }}</h2>
          <p>{{ article.summary }}</p>
          <a class="btn btn-primary" href="{{ SITEURL }}/{{ article.url }}">Read More...</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    {% else %}
    <div class="row align-items-center my-5">
       <div class="col-lg-8">
          <h2 class="font-weight-light">{{ article.title }}</h2>
          <p>{{ article.summary }}</p>
          <a class="btn btn-primary" href="{{ SITEURL }}/{{ article.url }}">Read More...</a>
      </div>
      <!-- /.col-md-4 -->
     <div class="col-lg-4">
          <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ SITEURL }}/{{ article.image }}" alt="">
      </div>
      <!-- /.col-lg-8 -->
    </div>
    {% endif %}
    {% endfor %}
    {% endblock %}

    {% block sidebar %}

    {% endblock %}

